@charset "utf-8";

/**
  * reset
  */

body, h1, p, dl, dt, dd, ul, form, input, button {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/**
  * base
  */

:root {
  --baseColor: #1a1a19;
  --primaryColor: #6fa4af;
  --bgColor: #fefefe;
  --whiteColor: #fefefe;
  --grayColor: #999;
  --grayBgColor: #eee;
  --attentionColor: #d97d55;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: var(--bgColor);
}


/**
  * contents
  */

.wrapper {
  margin-inline: auto;
  padding-block: 3em;
  width: min(90%, 600px);
}

h1 {
  margin-bottom: 2em;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.form_area .error {
  color: var(--attentionColor);
}

.form_area ul.error {
  margin: 0 0 1em 1.5em;
}

.form_area form {
  display: flex;
  align-items: center;
}

.form_area p {
  width: calc(100% - 1em - 80px);
}

.form_area .btn_area {
  margin-left: 1em;
  width: 80px;
}

.result_area {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid var(--baseColor);
}

.result_area > p {
  margin-bottom: 1.5em;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

.result_area dt {
  font-weight: 700;
}

.result_area dd + dt {
  margin-top: 1.5em;
}

.result_area dd {
  position: relative;
}

.result_area dd p {
  padding: 1em;
  background-color: var(--grayBgColor);
  border-radius: 5px;
  white-space: nowrap;
  overflow-x: auto;
}

.result_area p::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.result_area p::-webkit-scrollbar-track {
  background-color: var(--grayColor);
  border-radius: 5px;
}

.result_area p::-webkit-scrollbar-thumb {
  background-color: var(--baseColor);
  border-radius: 5px;
}

.result_area p::-webkit-scrollbar-thumb:hover {
  opacity: 0.85;
}

.result_area button {
  font-size: 0.85em;
  border-radius: 2.5px;
  width: fit-content;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}


/**
  * form
  */

input, button {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--grayColor);
}

input {
  padding: 0.25em;
  background-color: var(--grayBgColor);
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 0.25em 0.75em;
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--baseColor);
  border-radius: 5px;
  width: 80px;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: var(--primaryColor);
}
